<!DOCTYPE HTML>
<html>
<head>

    <title>Switchr</title>

    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/style.min.css">

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="dist/script.min.js"></script>

</head>
<body data-ng-app="switchr">
    <div data-ng-controller="SessionListCtrl">

        <div id="content">

            <h1 id="title">Switchr<small>by Adrian Moreno</small></h1>

            <div id="sessionList">
                <div data-current-session
                        data-session-data="activeSession"
                        data-on-close="closeSession()"
                        data-on-restore="restoreSession(name)"
                        data-on-edit="openRenameModal(name)"
                        data-on-delete="openDeleteModal(name)">
                </div>

                <div class="section-header">
                    <h2 class="section-title">Saved sessions</h2>
                </div>

                <p data-ng-if="sessionList.length === 0">
                    You have no sessions saved
                </p>

                <div data-session
                        data-ng-repeat="session in sessionList
                                        | filter:{ name: '!' + activeSession.name }:true"
                        data-name="session.name"
                        data-info="session.getWindowCount() + ' window(s) - ' + session.getTabCount() + ' tab(s)'"
                        data-on-load="restoreSession(name)"
                        data-on-edit="openRenameModal(name)"
                        data-on-delete="openDeleteModal(name)">
                </div>
            </div>

        </div>

        <div data-save-control
                data-session-list="sessionList"
                data-active-session="activeSession"
                data-after-save="afterSave()">
        </div>

        <modal id="renameModal">
            <modal-header>Rename session</modal-header>
            <modal-body>
                <input type="text" data-ng-model="modalData.newName">
            </modal-body>
            <modal-footer>
                <button class="align-right flat-button primary"
                        data-ng-click="renameSession(modalData.oldName,
                                                     modalData.newName,
                                                     modalData.activeSession)">
                    Rename
                </button>
                <button class="align-right flat-button"
                        data-ng-click="closeModal('rename-modal')">
                    Cancel
                </button>
            </modal-footer>
        </modal>

        <modal id="deleteModal">
            <modal-header>Delete session?</modal-header>
            <modal-footer>
                <button class="align-right flat-button danger"
                        data-ng-click="removeSession(modalData.name)">
                    Delete
                </button>
                <button class="align-right flat-button"
                        data-ng-click="closeModal('delete-modal')">
                    Cancel
                </button>
            </modal-footer>
        </modal>

    </div>
</body>
</html>

