// Dimensions
$app-width: 300px;
$app-height: 470px;
$toolbar-height: 54px; // Not used yet
$content-top: 0;
$content-bottom: 0;

$item-border-radius: 4px;

// Colors
/* $main-bg: #8dbdb1; */
/* $main-bg: #f19b5e; */
/* $accent-highlight: #00ddaa; */
$main-bg: #6ac3ad;
$white: #fff;
$blue: #0087ff;
$green: #3fad49;
$red: #d60e0e;

// z-indexes
$modal-z-index: 1000;
$fab-z-index: 100;

// Title
$main-title-font: bold 27pt Georgia, serif;
$main-title-color: rgba(0, 0, 0, 0.7);
$sub-title-font: bold 8pt Helvetica, sans-serif;
$sub-title-color: rgba(0, 0, 0, 0.45);
$title-padding: 25px 0;
$sub-title-offset: 25%;
$title-background: $main-bg;
$title-border: 1px solid darken($title-background, 20%);

// Section header
$section-header-font: 800 8pt Arial, sans-serif;
$section-header-color: rgba(0, 0, 0, 0.55);
$section-header-margin: 9px 0 3px;
