// Dimensions
$app-width: 300px;
$app-height: 470px;
$header-height: 0;
$footer-height: 54px;
$content-top: $header-height;
$content-bottom: $footer-height;

$item-border-radius: 4px;

// Colors
$main-bg: #6ac3ad;
$white: #fff;
/* $main-bg: #8dbdb1; */
/* $main-bg: #f19b5e; */
$blue: #0087ff;
$green: #3fad49;
$red: #d60e0e;
/* $blue-highlight: #0087ff; */
/* $green-highlight: #3fad49; */
/* $red-highlight: #d60e0e; */

// Z-indexes
$modal-z-index: 100;

/* $action-highlight-default: $blue-highlight; */
/* $action-highlight-danger: $red-highlight; */
/* $action-highlight-success: $green-highlight; */

// Footer
$footer-bg: $white;
$footer-fg: #678;
$footer-border: 1px solid #ccc;
$footer-padding: 8px;
$footer-highlight: #00ddaa;

// Title
$main-title-font: bold 27pt Georgia, serif;
$main-title-color: rgba(0, 0, 0, 0.7);
$sub-title-font: bold 8pt Helvetica, sans-serif;
$sub-title-color: rgba(0, 0, 0, 0.45);
$title-padding: 25px 0;
$sub-title-offset: 25%;
$title-background: $main-bg;
$title-border: 1px solid darken($title-background, 20%);

// Section header
$section-header-font: 800 8pt Arial, sans-serif;
$section-header-color: rgba(0, 0, 0, 0.55);
$section-header-margin: 9px 0 3px;
