.input-group {
    display: table;

    .main-action {
        box-sizing: border-box;
        display: table-cell;
        width: 100%;
        float: left;
        position: relative;
        z-index: 2;
    }
    .single-actions {
        box-sizing: border-box;
        display: table-cell;
        width: 1%;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
    }
    .single-actions button {
        position: relative !important;
        display: inline-block !important;
        z-index: 2 !important;
    }
}

.action-group {
    display: table;
    table-layout: fixed;

    .action {
        display: table-cell;
        width: 1%;
        float: none;
        border-collapse: separate;
        white-space: nowrap;
        vertical-align: middle;
        text-align: center;

        button {
            position: relative !important;
            float: center !important;
            text-align: center !important;
            margin: 0 auto !important;
        }
    }
}
