.input-group {
    display: table;
}
.input-group .main-action {
    box-sizing: border-box;
    display: table-cell;
    width: 100%;
    float: left;
    position: relative;
    z-index: 2;
}
.input-group .single-actions {
    box-sizing: border-box;
    display: table-cell;
    width: 1%;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.input-group .single-actions button {
    position: relative;
    display: inline-block;
    z-index: 2;
}

