@import "variables";

$default-color: #444;
$primary-color: $blue;
$success-color: $green;
$danger-color: $red;

$small-action-size: 14px;
$default-action-size: 18px;
$large-action-size: 24px;

$small-fab-size: 40px;
$fab-size: 52px;
$large-fab-size: 56px;

$text-input-padding: 4px;
$lateral-btn-margin: 2px;
$default-action-width: ($default-action-size + $lateral-btn-margin - 2) * 2;

@mixin default-button() {
    background: none;
    border: none;
    display: block;
    cursor: pointer;
}

@mixin flat-button($color) {
    @include default-button();
    text-transform: uppercase;
    font: bold 8pt Arial, sans-serif;
    margin: 8px $lateral-btn-margin;
    padding: 8px;
    border-radius: 2px;
    color: $color;
    &:hover { background: rgba($color, 0.10); }
    &:focus { background: rgba($color, 0.10); }
    &:active { background: rgba($color, 0.20); }
}

@mixin action-button($size, $color) {
    @include default-button();
    font-size: $size;
    width: ($size - 2) * 2;
    height: ($size - 2) * 2;
    border-radius: $size - 2;
    margin: $lateral-btn-margin;
    padding: 0;
    vertical-align: middle;
    color: $default-color;
    &:hover { color: $color; }
    &:active {
        color: $color;
        background: rgba($color, 0.20);
    }
}

@mixin floating-action-button($size, $fgcolor, $bgcolor) {
    color: $fgcolor;
    background-color: $bgcolor;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    font-size: $large-action-size;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    z-index: $fab-z-index;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    &:hover {
        background-color: lighten($bgcolor, 5%);
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.16),0 3px 15px 0 rgba(0,0,0,0.12);
        transform: translateY(-1px);
    }
    &:active {
        background-color: darken($bgcolor, 5%);
        box-shadow: 0 0px 5px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
        transform: translateY(1px);
    }
}

@mixin text-input($size, $color) {
    border: none;
    margin: 8px $lateral-btn-margin;
    padding: $text-input-padding;
    box-sizing: border-box;
    /* font-weight: bold; */
    font-size: $size;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid rgba($default-color, 0.2);
    transition: border-color 0.15s;
    &:focus {
        padding-bottom: $text-input-padding - 1px;
        border-bottom: 2px solid $color;
    }
    &:active {
        padding-bottom: $text-input-padding - 1px;
        border-bottom: 2px solid $color;
    }
}

.flat-button {
    @include flat-button($default-color);
    &.primary { @include flat-button($primary-color); }
    &.success { @include flat-button($success-color); }
    &.danger { @include flat-button($danger-color); }
}

.action-button {
    /* In order to vertically center 18px 'fa' icons, it is necesary to manually correct the padding */
    @include action-button($default-action-size, $primary-color);
    padding: ($default-action-size - 4) / 2;
    &.success {
        @include action-button($default-action-size, $success-color);
        padding: ($default-action-size - 4) / 2;
    }
    &.danger {
        @include action-button($default-action-size, $danger-color);
        padding: ($default-action-size - 4) / 2;
    }
}
.lg-action-button {
    @include action-button($large-action-size, $primary-color);
    &.success { @include action-button($large-action-size, $success-color); }
    &.danger { @include action-button($large-action-size, $danger-color); }
}
.sm-action-button {
    @include action-button($small-action-size, $primary-color);
    &.success { @include action-button($small-action-size, $success-color); }
    &.danger { @include action-button($small-action-size, $danger-color); }
}
.xs-action-button {
    @include action-button($small-action-size, $primary-color);
    &.success { @include action-button($small-action-size, $success-color); }
    &.danger { @include action-button($small-action-size, $danger-color); }
    &, &.success, &.danger { padding: 0; margin: 0 2px; }
}

.floating-action-button {
    @include floating-action-button($fab-size, $main-title-color, $main-bg);
}

.text-input {
    @include text-input(10pt, $primary-color);
}
select.text-input {
    /* Manually correct select inputs' padding */
    @include text-input(10pt, $primary-color);
    padding-top: $text-input-padding - 1px;
    padding-bottom: $text-input-padding - 1px;
    &:active, &:focus {
        padding-bottom: $text-input-padding - 2px;
    }
}
