#footer {
    height: $footer-height;
    background: $footer-bg;
    border-top: $footer-border;
    padding: $footer-padding;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
}
#footer form {
    width: 100%;
}
#footer .main-action {
    padding-right: $footer-padding;
}
#footer .main-action input {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12px 7px 8px;
    box-sizing: border-box;
    border: none;
    font-size: 11pt;
    color: $footer-fg;
}
#footer .main-action input:active,
#footer .main-action input:focus {
    border: none;
    border-bottom: 2px solid $footer-highlight;
}
#footer .single-actions button {
    color: $footer-fg;
    padding: 6px 10px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}
#footer .single-actions button:hover {
    color: $footer-highlight;
}
#footer {
    .action-group, .action { height: 100%; }
    .action button {
        text-transform: uppercase;
        font: 900 8pt Arial,sans-serif;
        width: initial;
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.55);
    }
}
