@import "variables";

body {
    width: $app-width;
    height: $app-height;
    margin: 0;
    overflow: none;

    *:hover, *:active, *:focus { outline: none; }

    @import "action-group";
    @import "buttons";
    @import "popup";
    @import "content";
    @import "footer";
    @import "current-session";
    @import "../directives/saved-session/saved-session";
    @import "../directives/modal/modal";
}
