@import "variables";

body {
    width: $app-width;
    height: $app-height;
    margin: 0;
    overflow: none;

    *:hover, *:active, *:focus { outline: none; }

    @import "content";
    @import "action-group";
    @import "popup";
    @import "footer";
    @import "session-list-item";
    @import "current-session";
}
