<div id="footer">
    <!-- <form id="saveSessionForm" -->
            <!-- class="input-group" -->
            <!-- data-ng-submit="saveSession(currentSession.name)"> -->
        <!-- <div class="main-action"> -->
            <!-- <input type="text" -->
                    <!-- id="sessionNameInput" -->
                    <!-- placeholder="Session name" -->
                    <!-- data-ng-model="currentSession.name" -->
                    <!-- required> -->
        <!-- </div> -->
        <!-- <div class="single-actions"> -->
            <!-- [> <button type="submit"> <] -->
                <!-- [> <span class="fa fa-lg fa-plus-circle"></span> <] -->
            <!-- [> </button> <] -->
            <!-- <button type="submit"> -->
                <!-- <span class="fa fa-save"></span> -->
            <!-- </button> -->
        <!-- </div> -->
    <!-- </form> -->
    <div class="action-group">
        <div class="action">
            <button data-ng-click="console.log('Coming soon...')">
                Save tab
            </button>
        </div>
        <div class="action">
            <button data-ng-click="console.log('Coming soon...')">
                Save window
            </button>
        </div>
        <div class="action">
            <button data-ng-click="console.log('Coming soon...')">
                Save all
            </button>
        </div>
    </div>
</div>
